/* General styles */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

div {
  padding: 20px;
}

button {
  font-size: 1rem; /* 16px if the root font size is 16px */
  padding: 10px 20px;
  border: none;
  background-color: blanchedalmond;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #fecf88;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr; /* 1 column by default */
  gap: 0.75rem;
}

/* Responsive styles */
@media (min-width: 768px) {
  .button-grid {
    grid-template-columns: 1fr 1fr; /* max 2 columns */
  }
}